<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Locia Group LLC</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <meta name="viewport" content="width=device-width" />


    <script>
        $(document).ready(function () {
            $("#Home").hover(function () {
                $.get("Default", function (data) {
                    Update(data);
                });
            });
            $("#About").hover(function () {
                $.get("About", function (data) {
                    Update(data);
                });
            });
            $("#Contact").hover(function () {
                $.get("Contact", function (data) {
                    Update(data);
                });
            });

            function Update(data) {
                $("#bodysection").html("");
                $("#bodysection").html(data);
            }
        });
    </script>


</head>
<body id="bodysection">

    <header>

    </header>


        <table border="1" align="center" style="margin-left:10px;" width="100%">
            <tr>
                <th width="10%">
                     <img src="~/Images/Logos/LCG_logo_bluev2.png" width="100px" height="100px" />
               </th>
                <th width="90%">
                    <span class="site-title">
                        Locia Group
                    </span>
                </th>
            </tr>
            <tr width="100%">
                <td colspan="2">
                    <nav style="text-align: left; display: inline;">
                        <ul id="menu">
                            <div id="Home">
                                <li><a href="~/">Home</a></li>
                            </div>
                            <div id="About">
                                <li><a href="~/About">About</a></li>
                            </div>
                            <div id="Contact">
                                <li><a href="~/Contact">Contact</a></li>
                            </div>
                        </ul>
                    </nav>
                </td>
            </tr>
        
            <tr>
<td colspan="2">
    <div id="content">

        <div id="ajaxbody">
            @RenderBody()
        </div>
    </div>

</td>
            </tr>

        </table>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Locia Group LLC. 2013</p>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
