<!--@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}-->

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Locia Group</h2>
</hgroup>

<article>
    <p>
        <h4>What do we do?</h4>
        We deliver products and services through software development.
        <h4>Who are we?</h4>
        We are a group of electrical and computer engineers working in
        collaboration to deliver high quality technology solutions.
    </p>

</article>

