<!--@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}-->

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Please contact us.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>support@lociagroup.com</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>


<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Royal Palm Beach<br />
        West Palm Beach, FL 33412
    </p>
</section>