<!--@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Locia Group";
}-->


        <hgroup class="title">
            <h1>Home.</h1>
            <h2>Solving through Innovation</h2>
        </hgroup>
        <p>
           To learn more about our services, click here. The page features documentation and samples of 
            our research projects. Please feel free to contribute or leave comments on our forums.
        </p>


<h4>Active Projects:</h4>
<ol>
    <li class="one">
        <h5>SCADA Pi</h5>
        Under Development.
        <a href="~/SCADAPi">Learn more…</a>
    </li>
    <li>
        <h5>Cyrptographic Currency Trading</h5>
        Under Development.
        <a href="~/SCADAPi">Learn more…</a>
    </li>
</ol>

