@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Locia Group";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Technology Research & Software Development</h2>
        </hgroup>
        <p>
           To learn more about our services, click here. The page features documentation and samples of 
            our research projects. Please feel free to contribute or leave comments on our forums.
            </p>
    </div>
</section>
}

<h3>Services:</h3>

<ol class="round">
    <li class="one">
        <h5>SCADA Pi</h5>
        Under Development.
        <a href="~/SCADAPi">Learn more…</a>
    </li>
</ol>

