@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Locia Group";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Technology Consulting & Software Development</h2>
        </hgroup>
        <p>
           To learn more about our services, click here. The page features documentation and samples of 
            our research projects. Please feel free to contribute or leave comments on our forums.
            </p>
    </div>
</section>
}

<h3>Services:</h3>

<ol class="round">
    <li class="one">
        <h5>Web Design</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
        to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
        that let you create beautiful sites using the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

</ol>